name: CI/CD Pipeline for Flask App

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      
      - name: Install dependencies
        run: pip install -r requirements.txt

     
      - name: Run tests with coverage
        run: |
          pip install pytest pytest-cov
          pytest --maxfail=1 --disable-warnings --cov=. --cov-report=xml:coverage.xml

     
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.sources=.
            -Dsonar.python.coverage.reportPaths=coverage.xml

    
      - name: Build source artifact
        run: |
          mkdir -p build_artifacts
          zip -r build_artifacts/flask_app_${{ github.run_number }}.zip . \
            -x "*.git*" "__pycache__/*" "*.pytest_cache*" "*.venv*" "*.DS_Store"

     
      - name: Upload source artifact
        uses: actions/upload-artifact@v4
        with:
          name: flask_app_source_${{ github.run_number }}
          path: build_artifacts/flask_app_${{ github.run_number }}.zip

     
      - name: Log in to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      
      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-eval:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-eval:latest

     
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDS }}

     
      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: myResourceGroup
          cluster-name: myAKSClusterSmallNew

     
      - name: Deploy to AKS
        run: |
          kubectl apply -f manifests/deployment.yaml
          kubectl apply -f manifests/service.yaml
